body{font-family:Roboto}
.bienvenida{font-family:Roboto;
            font-size: 30px;
            background-color: white;
            display:inline;}
.bntxt1, .bntxt2{font-size: 16px;}
.bntxt2{color: #FFFFFF;
        background-color: #F0A83E;
        display:inline;
        text-decoration: none;}
.banner{position: relative;
    text-align: center;
    background-image: url('img/bowl-and-pet-daities-on-green-background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;
    }
header div.barra-superior{background-color: #222222;
                            color: #F3F3F3;
                            font-size: 10px;}
header div.menu-principal{background-color: #F0A83E;
                            color:#FFFFFF;
                            font-size:13px;}

div.destacados{text-align: center;}
h1{
    color: #3C2313;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    }
table.centrado{margin-left: 300px;
        text-align: center;}
div.precio{color:#F0A83E;}
div.Suscripcion{color:#FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #F0A83E ;
    }

h2{
    color: #3C2313;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    }
footer{background-color:  #3C2313;}
footer div.barra-inferior{background-color: #222222;
    color: #F3F3F3;
    font-size: 10px;
    text-align: center;}
footer table {
        color:#FFFFFF;
        }
.elementos{font-size: 10px;}
    